<head>
{{template "application" }}
</head>
<turbo-frame id="boards">

<turbo-frame id="board-new" >
			<form action="board/" style="padding: 0 0 0 10%;">
				<input type="submit" value="Create new board">
			</form>
</turbo-frame>
<ul style="padding: 0 0 0 10%;">
{{range .}}
<li style="list-style-type: none; margin: 0; padding: 0;"><a href="/board/{{.id}}" data-turbo="false">{{.board_name}}</a> <a href="/?boardId={{.id}}" data-turbo="false"><button>Draw!</button></a></li>
{{end}}
</turbo-frame>
</ul>
