<head>
{{template "application" }}
</head>
{{ if .errors }} 
<div style="color: red">
	<ul>
	{{ range .errors }}
	<li>{{.}}</li>
	{{ end}}
	</ul>
	</div>
{{ end }}
<turbo-frame id="user-new">
	<form action="/signup/" method="POST" data-turbo-frame="_top">
		<div>
			<label for="username">Username: </label>
			<input type="text" id="username" name="username" {{if .username}} value="{{.username}}"{{ end }}></input>
		</div>
		<div>
			<label for="password">Password: </label>
			<input type="password" id="password" name="password"></input>
		</div>
		<div><input type="submit" value="Signup"></div>
	</form>
</turbo-frame>
<a href="/">Home</a>
